@import "tailwindcss";
@import "@heroui/styles";

:root {
    --salonpro: #fb4b75;
    --background: #f4f4f4;
    --black: #232323;
    --secondary: #8B8B8B;
}
@theme inline {
    --color-background: var(--background);
    --color-text-primary: var(--black);
    --color-text-secondary: var(--secondary);
    --color-primary: var(--salonpro);
    --font-sans: var(--font-open-sans);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: var(--font-open-sans), system-ui, -apple-system, BlinkMacSystemFont,"Segoe UI", sans-serif;
    color: var(--black);
}